name: Change File Build New Actions VM
on:
  push:
    branches:
      - "main"
    paths:
        - "ci/gha-runner-vm/**"
        - ".github/workflows/change-file-build-new-actions-vm.yml"
        - ".github/workflows/periodic-build-new-actions-vm.yml"

jobs:
  build:
    name: Build new Actions x86-64 VM
    runs-on: oracle-vm-8cpu-32gb-x86-64
    env:
      PACKER_VERSION: 1.14.3
    outputs:
      image_id: ${{ steps.build_image.outputs.image_id }}
    timeout-minutes: 180

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
      - name: Change Ubuntu mirrors
        uses: vegardit/fast-apt-mirror.sh@v1
        with:
          exclude-current: true
      - name: Set up QEMU
        run : |
          sudo apt install qemu-system-x86 xorriso qemu-system-arm qemu-efi-aarch64
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Install dependencies
        run: cd ci/gha-runner-vm && go get .
      - name: Install Packer
        run: |
          curl -LO https://releases.hashicorp.com/packer/${{ env.PACKER_VERSION }}/packer_${{ env.PACKER_VERSION }}_linux_amd64.zip
          unzip packer_${{ env.PACKER_VERSION }}_linux_amd64.zip
          sudo mv packer /usr/local/bin/
          rm packer_${{ env.PACKER_VERSION }}_linux_amd64.zip
          export PACKER_PLUGIN_PATH=/home/ubuntu/.config/packer/plugins
          packer plugins install github.com/hashicorp/oracle
          packer plugins install github.com/hashicorp/qemu
          packer plugins install github.com/hashicorp/azure

      - name: Install OCI CLI
        env:
          OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
          OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
          OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
        run: |
          curl -L -O https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh
          chmod +x install.sh
          ./install.sh --accept-all-defaults
          export PATH=$PATH:$HOME/bin
          oci compute image list --compartment-id ocid1.compartment.oc1..aaaaaaaa22icap66vxktktubjlhf6oxvfhev6n7udgje2chahyrtq65ga63a --operating-system runner-images --operating-system-version 123456

      - name: Build VM Images
        id: build_image
        run: |
          export OCI_CONFIG_FILE="/home/ubuntu/.oci/config"
          export OCI_KEY_FILE="/home/ubuntu/.oci/oci_api_key.pem"
          mkdir /home/ubuntu/.oci

          cat > ${OCI_CONFIG_FILE} << EOF
          [DEFAULT]
          user=${{ secrets.OCI_CLI_USER }}
          fingerprint=${{ secrets.OCI_CLI_FINGERPRINT }}
          tenancy=${{ secrets.OCI_CLI_TENANCY }}
          region=${{ secrets.OCI_CLI_REGION }}
          key_file=${OCI_KEY_FILE}
          EOF

          echo ${{ secrets.OCI_CLI_KEY_CONTENT }} > ${OCI_KEY_FILE}

          export PATH=$PATH:$HOME/bin && \
          export PACKER_PLUGIN_PATH=/home/ubuntu/.config/packer/plugins && \
          cd ci/gha-runner-vm && \
          PACKER_LOG=1 go run main.go \
            --isoURL https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img \
            --arch amd64

      - name: Upload image OCID
        uses: actions/upload-artifact@v4
        with:
          name: image-ocid
          path: /tmp/image_ocid

  run-kind-with-arc:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Start kind cluster
        run: |
          cat <<EOF > kind-config.yaml
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          nodes:
          - role: control-plane
            image: kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
          - role: worker
            image: kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
          EOF

          kind create cluster --config kind-config.yaml

          kubectl wait --for=condition=Ready nodes --all --timeout=120s

          helm install cncf-gha-controller \
            --namespace arc-systems \
            --create-namespace \
            --version 0.11.0 \
            oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller

          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/component=controller-manager --timeout=600s -n arc-systems

          kubectl create secret generic oci-api-key --from-literal=oci_api_key.pem="${{ secrets.OCI_CLI_KEY_CONTENT }}" -n arc-systems

          kubectl create secret generic github-arc-secret --from-literal=github_token=${{ secrets.GHA_PAT }} -n arc-systems

          cat <<EOF | kubectl apply -f -
          apiVersion: v1
          kind: Secret
          metadata:
            name: oci-config
            namespace: arc-systems
          type: Opaque
          stringData:
            config: |
              [DEFAULT]
              user=${{ secrets.OCI_CLI_USER }}
              fingerprint=${{ secrets.OCI_CLI_FINGERPRINT }}
              tenancy=${{ secrets.OCI_CLI_TENANCY }}
              region=${{ secrets.OCI_CLI_REGION }}
              key_file=/oci/oci_api_key.pem
          EOF

          sed 's/oracle-vm-2cpu-8gb/oci-ci-test/g' ci/cluster/oci/vm-runners/2cpu-8gb/install.yaml \
            | sed '/subnet-id/a \        - --running-environment=ci' \
            | sed '/nodeSelector/,+1d'| kubectl apply -f -

      - name: Wait for completion signal
        run: |
          while true; do
            PENDING=$(gh api repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs \
              --jq '[.jobs[] | select(.name != "run-kind-with-arc" and .status != "completed")] | length')

            if [[ "$PENDING" == "0" ]]; then
              echo "All jobs completed"
              break
            fi

            echo "There are $PENDING pending jobs..."

            sleep 30
          done

          kind delete cluster
        env:
          GH_TOKEN: ${{ github.token }}

  test-runner:
    runs-on: oci-ci-test-x86-64
    needs: build
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update APT
        run: |
          sudo apt-get update
          sudo apt-get install -y mc

      - name: Run uname to verify architecture
        run: |
          uname -a
          lsb_release -a
          cat /proc/cpuinfo

      - name: Run kind cluster
        run: |
          CLUSTER_NAME="kind-test"
          KIND_CONFIG="kind-config.yaml"

          sudo sysctl fs.inotify.max_user_instances=1280
          sudo sysctl fs.inotify.max_user_watches=655360

          cat <<EOF > $KIND_CONFIG
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          nodes:
            - role: control-plane
            - role: worker
            - role: worker
          EOF

          echo "[*] Creating Kind cluster..."
          kind create cluster --name $CLUSTER_NAME --config $KIND_CONFIG

          kubectl wait --for=condition=Ready nodes --all --timeout=120s

          echo "[*] Creating pod ..."
          kubectl apply -f - <<EOF
          apiVersion: v1
          kind: Pod
          metadata:
            name: nginx
          spec:
            containers:
            - name: nginx
              image: nginx:latest
              resources:
                requests:
                  memory: "256Mi"
                  cpu: "100m"
                limits:
                  memory: "256Mi"
                  cpu: "500m"
          EOF

          echo "[*] Waiting for pods to be ready..."
          kubectl wait --for=condition=Ready pod/nginx --timeout=300s

          echo "[*] Pods running, doing test workload..."
          sleep 60

          echo "[*] Deleting pods..."
          kubectl delete pod nginx

          echo "[*] Deleting Kind cluster..."
          kind delete cluster --name $CLUSTER_NAME

          echo "[*] Done!"

  release-new-image:
    runs-on: ubuntu-latest
    needs: [run-kind-with-arc, test-runner]
    env:
      OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
      OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
      OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
      OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
      OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
    steps:
      - name: Download image OCID
        uses: actions/download-artifact@v4
        with:
          name: image-ocid

      - name: Release
        run: |
          curl -L -O https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh
          chmod +x install.sh
          ./install.sh --accept-all-defaults
          export PATH=$PATH:$HOME/bin
          IMAGE_ID=$(cat image_ocid)
          oci compute image update --image-id ${IMAGE_ID} --operating-system ubuntu-24.04-amd64-gha-image --display-name ubuntu-24.04-amd64-gha-image
