name: Periodic Build New Actions ARM VM

on:
  schedule:
    - cron: "0 0 * * *"


jobs:
  build:
    name: Build new Actions ARM VM
    runs-on: oracle-2cpu-8gb-x86-64
    outputs:
      image_exists: ${{ steps.check_latest.outputs.image_exists }}
    timeout-minutes: 180

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Change Ubuntu mirrors
        uses: vegardit/fast-apt-mirror.sh@v1
        with:
          exclude-current: true

      - name: Install OCI CLI
        run: |
          curl -L -O https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh
          chmod +x install.sh
          ./install.sh --accept-all-defaults

      - name: Check latest release
        id: check_latest
        env:
          OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
          OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
          OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
        run: |
          export PATH=$PATH:$HOME/bin
          LATEST_RELEASE=$(curl -fsSL https://api.github.com/repos/actions/runner-images/releases | jq -r '.[] | select(.prerelease == false) | select(.name | startswith("Ubuntu 24.04")) | .tag_name' | head -1)
          IMAGE_EXISTS=$(oci compute image list --compartment-id ocid1.compartment.oc1..aaaaaaaa22icap66vxktktubjlhf6oxvfhev6n7udgje2chahyrtq65ga63a --operating-system "ubuntu-24.04-arm64-gha-image" --operating-system-version ${LATEST_RELEASE})
          if [ -z "$IMAGE_EXISTS" ]; then
            echo "image_exists=false" >> "$GITHUB_OUTPUT"
          else
            echo "image_exists=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Arm64 BareMetal Instance
        if: steps.check_latest.outputs.image_exists == 'false'
        env:
          OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
          OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
          OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
        run: |
          ${{ github.workspace }}/.github/scripts/create_bare_metal.sh
          cat ${{ github.workspace }}/.env >> $GITHUB_ENV
        shell: bash

      - name: Build VM Image
        if: steps.check_latest.outputs.image_exists == 'false'
        id: build_image
        env:
          OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
          OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
          OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
        run: |
          scp -i ${{ github.workspace }}/id_rsa ${{ github.workspace }}/.github/scripts/build_arm_image.sh ubuntu@$PUBLIC_IP:.
          ssh -o ServerAliveInterval=60 -i ${{ github.workspace }}/id_rsa ubuntu@$PUBLIC_IP -- ./build_arm_image.sh ${{ env.OCI_CLI_USER }} ${{ env.OCI_CLI_TENANCY }} ${{ env.OCI_CLI_FINGERPRINT}} $(echo "${{ env.OCI_CLI_KEY_CONTENT }}" | base64 -w0) ${{ env.OCI_CLI_REGION }}
          scp -i ${{ github.workspace }}/id_rsa ubuntu@$PUBLIC_IP:/tmp/image_ocid .
        shell: bash

      - name: Upload image OCID
        if: steps.check_latest.outputs.image_exists == 'false'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: image-ocid
          path: ./image_ocid

      - name: Terminate Arm64 BareMetal Instance
        if: ${{ steps.check_latest.outputs.image_exists == 'false' && always() }}
        env:
          OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
          OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
          OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
        run: |
          export PATH=$PATH:$HOME/bin
          oci compute instance terminate --instance-id "$INSTANCE_OCID" --force
        shell: bash

  run-kind-with-arc:
    runs-on: ubuntu-latest
    needs: build
    if: needs.build.outputs.image_exists == 'false'
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Start kind cluster
        run: |
          cat <<EOF > kind-config.yaml
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          nodes:
          - role: control-plane
            image: kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
          - role: worker
            image: kindest/node:v1.34.3@sha256:08497ee19eace7b4b5348db5c6a1591d7752b164530a36f855cb0f2bdcbadd48
          EOF

          kind create cluster --config kind-config.yaml

          kubectl wait --for=condition=Ready nodes --all --timeout=120s

          helm install cncf-gha-controller \
            --namespace arc-systems \
            --create-namespace \
            --version 0.11.0 \
            oci://ghcr.io/actions/actions-runner-controller-charts/gha-runner-scale-set-controller

          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/component=controller-manager --timeout=600s -n arc-systems

          kubectl create secret generic oci-api-key --from-literal=oci_api_key.pem="${{ secrets.OCI_CLI_KEY_CONTENT }}" -n arc-systems

          kubectl create secret generic github-arc-secret --from-literal=github_token=${{ secrets.GHA_PAT }} -n arc-systems

          cat <<EOF | kubectl apply -f -
          apiVersion: v1
          kind: Secret
          metadata:
            name: oci-config
            namespace: arc-systems
          type: Opaque
          stringData:
            config: |
              [DEFAULT]
              user=${{ secrets.OCI_CLI_USER }}
              fingerprint=${{ secrets.OCI_CLI_FINGERPRINT }}
              tenancy=${{ secrets.OCI_CLI_TENANCY }}
              region=${{ secrets.OCI_CLI_REGION }}
              key_file=/oci/oci_api_key.pem
          EOF

          sed 's/oracle-vm-2cpu-8gb/oci-ci-test/g' ci/cluster/oci/vm-runners/2cpu-8gb-arm64/install.yaml \
            | sed '/subnet-id/a \        - --running-environment=ci' \
            | sed '/nodeSelector/,+1d'| kubectl apply -f -

      - name: Wait for completion signal
        run: |
          while true; do
            PENDING=$(gh api repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs \
              --jq '[.jobs[] | select(.name != "run-kind-with-arc" and .status != "completed")] | length')

            if [[ "$PENDING" == "0" ]]; then
              echo "All jobs completed"
              break
            fi

            echo "There are $PENDING pending jobs..."

            sleep 30
          done

          kind delete cluster
        env:
          GH_TOKEN: ${{ github.token }}

  test-runner:
    runs-on: oci-ci-test-arm64
    needs: build
    if: needs.build.outputs.image_exists == 'false'
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Update APT
        run: |
          sudo apt-get update
          sudo apt-get install -y mc

      - name: Run uname to verify architecture
        run: |
          uname -a
          lsb_release -a
          cat /proc/cpuinfo

      - name: Run kind cluster
        run: ${{ github.workspace }}/.github/scripts/test_with_kind_cluster.sh

  release-new-image:
    runs-on: ubuntu-latest
    needs: [run-kind-with-arc, test-runner]
    env:
      OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
      OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
      OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
      OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
      OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
    steps:
      - name: Download image OCID
        uses: actions/download-artifact@v4
        with:
          name: image-ocid

      - name: Release
        run: |
          curl -L -O https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh
          chmod +x install.sh
          ./install.sh --accept-all-defaults
          export PATH=$PATH:$HOME/bin
          IMAGE_ID=$(cat image_ocid)
          oci compute image update --image-id ${IMAGE_ID} --operating-system ubuntu-24.04-arm64-gha-image --display-name ubuntu-24.04-arm64-gha-image
