name: Test VM Runner

on:
  workflow_dispatch:
    inputs:
      test_gpu:
        description: 'Test GPU Runner'
        required: false
        type: choice
        options:
        - 'yes'
        - 'no'
        default: 'no'
jobs:
  test-runner:
    strategy:
      matrix:
        #shape: [2cpu-8gb, 4cpu-16gb, 8cpu-32gb, 16cpu-64gb, 24cpu-384gb]
        shape: [2cpu-8gb]
        arch: ["x86-64", "arm64"]
    runs-on: oracle-vm-${{ matrix.shape }}-${{ matrix.arch }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Run uname to verify architecture
        run: |
          uname -a
          lsb_release -a
          id
          cat /etc/group
          cat /proc/cpuinfo

      - name: Run a basic workload
        run: |
          echo "Testing Runner"
          echo "CPU Info:"
          lscpu
          docker run hello-world

      - name: Check local disk 
        run: |
         df -h /

      - name: Run kind cluster
        run: ${{ github.workspace }}/.github/scripts/test_with_kind_cluster.sh

  test-gpu-runner:
    runs-on:
      labels: oracle-vm-gpu-a10-1
      group: GPUs
    if: ${{ github.event.inputs.test_gpu == 'yes' }}
    steps:
      - name: checkout gpus
        run: |
          echo "[*] Detailed GPU query"
          nvidia-smi -q

          echo "[*] Specific information"
          nvidia-smi --query-gpu=name,driver_version,memory.total --format=csv

          echo "[*] NVIDIA driver version"
          cat /proc/driver/nvidia/version
