name: Test Oracle AARCH64 Runner

on:
#  push:
#    branches:
#      - main
  workflow_dispatch:

jobs:
  test-runner:
    runs-on: equinix-2cpu-8gb
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Run uname to verify architecture
        run: uname -a

      - name: Run a basic workload
        run: |
          echo "Testing Equinix Runner"
          echo "CPU Info:"
          lscpu

      - name: Run a Docker container
        run: |
          docker run --rm alpine echo "Docker is working on the runner"

      - name: Check local disk 
        run: |
         df -h / 
